

.service_area {
	padding: 100px 0px 0px 0px;
	.section_title {
		padding-bottom: 50px;
		@include lg {
			padding-bottom: 250px;
		}
	}
	@include lg {
		padding: 300px 0px 0px 0px;
	}
}
.single_service-wrapper {
	padding-bottom: 40px;
	.single_service {
		padding: 40px 35px 30px 35px;
		height: 100%;
		.number {
			font-family: Blogger Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 64px;
			line-height: 70px;
			color: #E5E5E5;
			margin-bottom: 45px;
			@include lg {
				margin-bottom: 65px;
			}
		}
		.service_info {
			span {
				display: block;
				font-family: Blogger Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 26px;
				color: #000000;
				margin-bottom: 35px;
				@include lg {
					margin-bottom: 54px;
				}
			}
			p {
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
				color: #3F3F3F;
				margin: 0px 0px 45px 0px;

				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			@include lg {
				padding-left: 40px;
			}
		}
	}
	@include lg {
		padding-bottom: 115px;
	}
}

.service {
	.service_area {
		padding: 100px 0px 0px 0px;
		.section_title {
			padding-bottom: 50px;
			@include lg {
				padding-bottom: 135px;
			}
		}
		@include lg {
			padding: 200px 0px 0px 0px;
		}
	}
}
.service-inner {
	padding-bottom: 50px;
	.line {
		border-bottom: 1px solid #E5E5E5;
	}
	@include lg {
		padding: 0px 0px 100px 0px;
	}
	.service_area {
		padding: 100px 0px 0px 0px;
		.section_title {
			margin: 0px;
			padding-bottom: 30px;
		}
		@include lg {
			padding: 200px 0px 0px 0px;
		}
	}
	.price-first {
		font-family: Blogger Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 39px;
		color: $colorRare;
		margin: 0px;
	}
	.price-second {
		font-family: Blogger Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 26px;
		color: #7D71B1;
		margin: 0px;
	}
}
