$colorMain: #01A0E2;
$colorRare: #E4097F;
$mainTransition: 0.3s;


body {
	font-family: "Gilroy", sans-serif;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans Medium'), local('BloggerSans-Medium'), url('../fonts/Bloggersansmedium.woff2') format('woff2'), url('../fonts/Bloggersansmedium.woff') format('woff'), url('../fonts/Bloggersansmedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans Medium Italic'), local('BloggerSans-MediumItalic'), url('../fonts/Bloggersansmediumitalic.woff2') format('woff2'), url('../fonts/Bloggersansmediumitalic.woff') format('woff'), url('../fonts/Bloggersansmediumitalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans Italic'), local('BloggerSans-Italic'), url('../fonts/Bloggersansitalic.woff2') format('woff2'), url('../fonts/Bloggersansitalic.woff') format('woff'), url('../fonts/Bloggersansitalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans Light'), local('BloggerSans-Light'), url('../fonts/Bloggersanslight.woff2') format('woff2'), url('../fonts/Bloggersanslight.woff') format('woff'), url('../fonts/Bloggersanslight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans'), local('BloggerSans'), url('../fonts/Bloggersans.woff2') format('woff2'), url('../fonts/Bloggersans.woff') format('woff'), url('../fonts/Bloggersans.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans Bold Italic'), local('BloggerSans-BoldItalic'), url('../fonts/Bloggersansbolditalic.woff2') format('woff2'), url('../fonts/Bloggersansbolditalic.woff') format('woff'), url('../fonts/Bloggersansbolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans Bold'), local('BloggerSans-Bold'), url('../fonts/Bloggersansbold.woff2') format('woff2'), url('../fonts/Bloggersansbold.woff') format('woff'), url('../fonts/Bloggersansbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Blogger Sans';
	src: local('Blogger Sans Light Italic'), local('BloggerSans-LightItalic'), url('../fonts/Bloggersanslightitalic.woff2') format('woff2'), url('../fonts/Bloggersanslightitalic.woff') format('woff'), url('../fonts/Bloggersanslightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

h1, .h1 {
	font-family: Blogger Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 120%;

	color: $colorMain;
	@include lg {
		font-size: 65px;
		line-height: 71px;
	}
}
.title-2 {
	font-family: Blogger Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 120%;
	color: $colorRare;
	&.title-2_inner {
		color: $colorMain;
		font-size: 36px;
		line-height: 39px;
	}
	@include lg {
		font-size: 48px;
		line-height: 52px;
	}
}
h2 {
	font-family: Blogger Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 120%;
	color: $colorRare;
}

p {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 120%;
	color: #000000;
	@include lg {
		font-size: 18px;
		line-height: 21px;
	}
}

ul,ol {
	padding-left: 20px;
	li {
		list-style: disc;
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin-bottom: 14px;
	}
}
ol {
	li {
		list-style: decimal;
	}
}
