.btn {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	padding: 18px 36px;

	background: $colorMain;
	border: 2px solid transparent;
	border-radius: 30px;

	transition: $mainTransition;
	&.btn_rare {
		font-weight: normal;
		font-size: 36px;
		line-height: 42px;
		background: $colorRare;
		box-shadow: 0px 7px 8px rgba(228, 9, 127, 0.64);
		border-radius: 42px;
		padding: 19px 49px;
		border: 2px solid transparent;
		&:hover {
			color: $colorRare;
			background: none;
			border: 2px solid $colorRare;
			box-shadow: none;
		}
	}
	&:hover {
		color: $colorRare;
		background: none;
		border: 2px solid $colorRare;

		transition: $mainTransition;
	}
}
#scrollUp {
	background: $colorMain;
	svg {
		width: 20px;
		transform: rotate(90deg);
		path {
			fill: #fff;
		}
	}
}
