.form-modal {
	input,textarea {
		width: 100%;
		display: block;
		padding: 15px 20px;
		border-radius: 4px;
		border: 1px solid $colorRare;

		font-size: 16px;
		line-height: 120%;
		font-family: 'Gilroy';
	}
	textarea {
		min-height: 140px;
	}
}


#modalVideo {
	iframe {
		height: 300px;
		@include lg {
			height: 720px;
		}
	}
}
