.news-area {
	padding-bottom: 50px;
	.title-2 {
		color: $colorMain;
	}
	@include lg {
		padding-bottom: 100px;
	}
}



.blog-item {
	padding-bottom: 30px;
	.title {
		display: block;

		font-family: Blogger Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 20px;
		color: #000000;

		transition: $mainTransition;
		margin-bottom: 20px;
		&:hover {
			color: $colorRare;
			text-decoration: none;
			transition: $mainTransition;
		}
	}
	.description {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}
}
.blog-item__preview {
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
	position: relative;
	img {
		transition: $mainTransition;
	}
	&:hover {
		a {
			img {
				transform: scale(1.1);
				transition: $mainTransition;
			}
		}
	}
}
.blog-slider {
	.blog-slider__item {
		padding: 0 15px;
	}
	.slick-arrow {
		z-index: 2;
		width: 50px;
		height: 50px;
		background: #fff;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
		border-radius: 100%;
		@media (max-width: 991px) {
			width: 40px;
			height: 40px;
		}
	}
	.slick-next:before,
	.slick-prev:before {
		color: #000;
	}
	.slick-next {
		@media (max-width: 1360px) {
			right: 4px;
		}
	}
	.slick-prev {
		@media (max-width: 1360px) {
			left: 4px;
		}
	}
}
