<div class="hire_area paralax_bg" >
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10">
				<div class="section_title text-center">
					<span>консультация</span>
					<h2 class="title-2">Нужна консультация специалиста? просто оставьте ваш номер телефона</h2>
					<div class="hire_btn ">
						<a  class="btn" href="#" data-toggle="modal" data-target="#modalRequest">оставить заявку</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
