footer(class="footer")
	div(class="footer-top-line")
		div(class="container")
			div(class="row")
				div(class="col-12 d-flex flex-column align-items-center")
					div(class="logo")
						<a class="d-block mb-4" href="#">
							<img class="lazyload" data-src="images/logo.svg" alt="img">
						</a>
					a(href="tel:+73512238403" class="link link_phone mb-4")
						<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
								<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
							</g>
						</svg>
						| +7 (351) 223-84-03
					div(class="adres")
						<svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 32C11.3015 32 10.676 31.6378 10.3269 31.031C10.3232 31.0246 10.3196 31.0182 10.3161 31.0117L2.38095 16.4876C0.486825 13.0207 0.541138 8.90559 2.52626 5.47984C4.46833 2.12834 7.91783 0.0807813 11.7537 0.00253125C11.9176 -0.00084375 12.0823 -0.00084375 12.2461 0.00253125C16.082 0.0807813 19.5315 2.12834 21.4736 5.47984C23.4588 8.90559 23.5131 13.0206 21.619 16.4876L13.6838 31.0117C13.6803 31.0182 13.6767 31.0246 13.673 31.031C13.324 31.6377 12.6985 32 12 32ZM12 2.00003C11.9313 2.00003 11.8628 2.00072 11.7944 2.00209C8.6632 2.06597 5.84533 3.74091 4.25664 6.48259C2.62495 9.29853 2.57983 12.6802 4.13601 15.5286L12 29.9223L19.8638 15.5287C21.42 12.6802 21.375 9.29853 19.7431 6.48259C18.1545 3.74097 15.3366 2.06597 12.2054 2.00209C12.1372 2.00072 12.0686 2.00003 12 2.00003Z" fill="#E4097F"/>
							<path d="M12 14.5C9.51869 14.5 7.5 12.4813 7.5 10C7.5 7.51869 9.51869 5.5 12 5.5C14.4813 5.5 16.5 7.51869 16.5 10C16.5 12.4813 14.4814 14.5 12 14.5ZM12 7.5C10.6215 7.5 9.5 8.6215 9.5 10C9.5 11.3785 10.6215 12.5 12 12.5C13.3785 12.5 14.5 11.3785 14.5 10C14.5 8.6215 13.3785 7.5 12 7.5Z" fill="#E4097F"/>
						</svg>
						| Челябинск, ул. Трашутина 17
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="footer-bottom-line d-flex flex-column flex-lg-row justify-content-between align-items-center")
					a(href="#" class="mb-3 mb-lg-0")
						| Политика конфиденциальности
					a(href="#")
						| Разработка сайта DEKSIS.RU
