section(class="news-area")
	div(class="container")
		div(class="row")
			div(class="col-12 pb-5")
				h2(class="title-2 text-center")
					| Новости
		div(class="w-100")
			div(class="blog-slider")
				-for (var i = 0; i < 10; i++)
					div(class="blog-slider__item")
						div(class="blog-item")
							div(class="blog-item__preview")
								a(class="d-block" href='#')
									img(class="w-100" data-lazy="images/news.png" alt="img")
							a(class="title" href="#")
								| Заголовок новости
							p(class="description")
								| Краткая аннотация к новости, Краткая аннотация к новости, Краткая аннотация к новости, Краткая аннотация к новости, Краткая аннотация к новости, Краткая аннотация к новости
