<div class="service_area">
	<div class="container">
		<div class="row justify-content-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
			<div class="col-lg-9">
				<div class="section_title text-center">
					div(class="line-title")
						<span>УСЛУГИ</span>
						<h2 class="title-2">Мы предоставляем самые разные услуги для детей от 3-х лет.</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			- var img = ['images/s1.png', 'images/s2.png', 'images/s3.png', 'images/s4.png', 'images/s5.png', 'images/s6.png', 'images/s7.png', 'images/s8.png'];
			- var title = ['Отоскопия и риноскопия', 'Консультация врача-педиатра', 'Выезд педиатра на дом', 'Лабораторная диагностика', 'Оформление всех видов справок', 'Внутримышечные и внутривенные инъекции на дому', 'Школа «будущих мам»', 'Составление меню ребенка до 1 года'];
			- var p = ['Отоскопия – диагностическая методика, которая позволяет осмотреть наружный слуховой проход и барабанную перепонку. ', 'Детям достаточно трудно самим сформулировать: что и где их беспокоит, поэтому специалист должен обладать хорошими знаниями в детской психологии и ф', 'Заболевание малыша не всегда позволяет родителям прийти на прием к педиатру в поликлинику. Заболевание может начаться остро, с резкого подъема темп', 'Один из самых важных видов диагностики заболевания. Постановка верного диагноза, назначение схемы лечения зависит от точной информации о состоянии', 'Очень значимый раздел работы врача педиатра - оформление медицинской документации. При необходимости посещения Вашим ребенком любого вновь создавае', 'Опытная медицинская сестра сделает вам инъекцию !Услуга предоставляется как в центре,так и на дому!', 'Разговор с педиатром! На занятиях в нашем  будущие мамы приобретут важные навыки, которые помогут им в дальнейшем не растеряться, чувствовать себя', 'Правильное сбалансированное питание ребенка – залог его крепкого здоровья, нормального физического и умственного развития, роста, формирования зубо'];
			- for (var i = 0; i < 8; i++)
				div(class="col-12 col-sm-6 col-lg-4 single_service-wrapper")
					div(class="single_service wow fadeInUp" data-wow-duration="1s" data-wow-delay=( i/10 + "s"))
						div(class="service_icon")
							img(class="lazyload" data-src=img[i])
						div(class="number")
							= i + 1
							|.
						div(class="service_info")
							span
								= title[i]
							p
								= p[i]
							a(href="#" class="btn")
								| подробнее
		</div>
	</div>
</div>
