.footer {
	position: unset;
	padding: 0px;
	background-image: unset;
	.footer-top-line {
		padding: 20px 0px 38px 0px;
	}
	.footer-bottom-line {
		border-top: 1px solid #E5E5E5;
		padding: 19px 0px 30px 0px;
		a {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: #8F8F8F;
			transition: $mainTransition;
			&:hover {
				color: $colorRare;
				text-decoration: none;
				transition: $mainTransition;
			}
		}
	}
}
.adres {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: $colorRare;
	svg {
		margin-right: 13px;
	}
}
