extends baseInner.pug
block content
	section(class="content-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="section_title")
						h2(class="title-2 title-2_inner")
							| 404 страница
						p
							| К сожалению страница не найдена
				div(class="col-12")
					img(class="lazyload w-100" data-src="images/404.png" alt="img")
