extends baseInner.pug
block content
	section(class="about")
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section_title">
						h2(class="title-2 title-2_inner pb-4")
							| О компании
						p
							| Очень значимый раздел работы врача педиатра – оформление медицинской документации. При необходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или детский сад Вам приходиться представлять те или иные документы, подтверждающие факт здоровья Вашего ребенка, возможность начать или продолжить занятия в том или ином учреждении.
					</div>
				</div>
			</div>
			div(class="row")
				div(class="col-12 col-md-6 col-lg-4 pb-5 pb-lg-0")
					a(class="d-block" data-fancybox="gallery" href="images/a1.jpg")
						img(class=" w-100 lazyload" data-src="images/a1.jpg" alt="img")
				div(class="col-12 col-md-6 col-lg-4 pb-5 pb-lg-0")
					a(class="d-block" data-fancybox="gallery" href="images/a2.jpg")
						img(class=" w-100 lazyload" data-src="images/a2.jpg" alt="img")
				div(class="col-12 col-md-6 col-lg-4")
					a(class="d-block" data-fancybox="gallery" href="images/a3.jpg")
						img(class=" w-100 lazyload" data-src="images/a3.jpg" alt="img")
		</div>
	<div class="hire_area paralax_bg m-0" >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10">
					<div class="section_title text-center">
						<span>консультация</span>
						<h2 class="title-2">Нужна консультация специалиста? просто оставьте ваш номер телефона</h2>
						<div class="hire_btn ">
							<a  class="btn" href="#">оставить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	section(class="info-block")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| Все виды справок
					p
						| Очень значимый раздел работы врача педиатра – оформление медицинской документации. При необходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или детский сад Вам приходиться представлять те или иные документы, подтверждающие факт здоровья Вашего ребенка, возможность начать или продолжить занятия в том или ином учреждении.
					p
						| В нашем центре вы можете оформить следующие виды справок: справка в детский сад и школу ,справка в бассейн, справка в спортивную или танцевальную секцию, справка для получения путевки на санаторно-курортное лечение.
					p
						| Так же вы можете в нашем центре оформить медицинский карты для поступления с ДДУ и школу ,прививочные сертификаты.
					p
						| ВНИМАНИЕ!!Возможно потребуются дополнительные исследования!
