- var menuItems = ['Услуги', 'Прайс-лист', 'Отзывы', 'Контакты'];


doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="icon" href="images/favicon.png" sizes="32x32")
		title Наболейка
	body
		include components/header-area-inner.pug
		block content
		include components/footer-area.pug
		script(src="js/main.min.js")
