- var menuItems = ['Услуги', 'Прайс-лист', 'Отзывы', 'Контакты'];


doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="icon" href="images/favicon.png" sizes="32x32")
		title Наболейка
	body
		include components/header-area.pug
		block content
		<!-- Modal -->
		<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					div(class="d-flex justify-content-end p-4")
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					<div class="modal-body">
						form(class="form-modal" action="" method="")
							input(class="mb-4" type="name" placeholder="Имя")
							input(class="mb-4" type="tel" placeholder="Телефон")
							textarea(class="mb-5" placeholder="Сообщение")
							<button type="submit" class="btn">Отправить</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="modalVideoLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
				<div class="modal-content">
					div(class="d-flex justify-content-end p-4")
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					<div class="modal-body">
						iframe(width="100%" src="https://www.youtube.com/embed/vCzl_ANZfnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					</div>
				</div>
			</div>
		</div>
		include components/footer-area.pug
		
		script(src="js/main.min.js")
