extends baseInner.pug
block content
	section(class="content-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="section_title")
						h2(class="title-2 title-2_inner")
							| Заголовок страницы
						p
							| Очень значимый раздел работы врача педиатра – оформление медицинской документации. При необходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или детский сад Вам приходиться представлять те или иные документы, подтверждающие факт здоровья Вашего ребенка, возможность начать или продолжить занятия в том или ином учреждении.
