extends base.pug
block content
	<div  data-scroll-index="0" class="banner_area">
		<div class="banner_inner  d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-11 offset-lg-1">
						<div class="banner_text">
							h1(class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s")
								| Медицинский центр для детей и их родителей
							<p class="description wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Подготовка и выдача всех видов справок, УЗИ, ЭКГ. Справки на ДОМ</p>
							div(class="pb-5")
								a(href="#" class="btn btn_rare wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" data-toggle="modal" data-target="#modalRequest" )
									| записаться
							<div class="video_play wow fadeInUp d-flex align-items-center" data-wow-duration="1s" data-wow-delay=".4s" >
								<a class="popup-video" data-href="https://www.youtube.com/embed/vCzl_ANZfnc" data-toggle="modal" data-target="#modalVideo">
									<svg width="27" height="31" viewBox="0 0 27 31" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M27 15.1555L0.749999 30.3109L0.75 1.12503e-05L27 15.1555Z" fill="white"/>
									</svg>
								</a>
								<span>Смотреть презентацию нашего центра</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img class="lazyload person_thumb d-none d-lg-block wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" data-src="images/welcome.png" alt="alt">
		</div>
		<div class="quick_social_links">
			<ul>
				<li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
					a(class="social-block__item" href="#")
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path d="M12.145 19.5C15.617 19.5 14.379 17.302 14.647 16.67C14.643 16.198 14.639 15.744 14.655 15.468C14.875 15.53 15.394 15.793 16.466 16.835C18.121 18.505 18.544 19.5 19.881 19.5H22.342C23.122 19.5 23.528 19.177 23.731 18.906C23.927 18.644 24.119 18.184 23.909 17.468C23.36 15.744 20.158 12.767 19.959 12.453C19.989 12.395 20.037 12.318 20.062 12.278H20.06C20.692 11.443 23.104 7.82899 23.459 6.38299C23.46 6.38099 23.461 6.37799 23.461 6.37499C23.653 5.71499 23.477 5.28699 23.295 5.04499C23.021 4.68299 22.585 4.49999 21.996 4.49999H19.535C18.711 4.49999 18.086 4.91499 17.77 5.67199C17.241 7.01699 15.755 9.78299 14.641 10.762C14.607 9.37499 14.63 8.31599 14.648 7.52899C14.684 5.99399 14.8 4.49999 13.207 4.49999H9.339C8.341 4.49999 7.386 5.58999 8.42 6.88399C9.324 8.01799 8.745 8.64999 8.94 11.796C8.18 10.981 6.828 8.77999 5.872 5.96699C5.604 5.20599 5.198 4.50099 4.055 4.50099H1.594C0.596 4.50099 0 5.04499 0 5.95599C0 8.00199 4.529 19.5 12.145 19.5ZM4.055 6.00099C4.272 6.00099 4.294 6.00099 4.455 6.45799C5.434 9.34099 7.63 13.607 9.234 13.607C10.439 13.607 10.439 12.372 10.439 11.907L10.438 8.20499C10.372 6.97999 9.926 6.36999 9.633 5.99999L13.141 6.00399C13.143 6.02099 13.121 10.099 13.151 11.087C13.151 12.49 14.265 13.294 16.004 11.534C17.839 9.46299 19.108 6.36699 19.159 6.24099C19.234 6.06099 19.299 5.99999 19.535 5.99999H21.996H22.006C22.005 6.00299 22.005 6.00599 22.004 6.00899C21.779 7.05899 19.558 10.405 18.815 11.444C18.803 11.46 18.792 11.477 18.781 11.494C18.454 12.028 18.188 12.618 18.826 13.448H18.827C18.885 13.518 19.036 13.682 19.256 13.91C19.94 14.616 22.286 17.03 22.494 17.99C22.356 18.012 22.206 17.996 19.881 18.001C19.386 18.001 18.999 17.261 17.522 15.771C16.194 14.479 15.332 13.951 14.547 13.951C13.023 13.951 13.134 15.188 13.148 16.684C13.153 18.306 13.143 17.793 13.154 17.895C13.065 17.93 12.81 18 12.145 18C5.8 18 1.668 7.92899 1.509 6.00399C1.564 5.99899 2.321 6.00199 4.055 6.00099Z" fill="#3F3F3F"/>
							</g>
						</svg>
				</li>
				<li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
					a(class="social-block__item" href="#")
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M4.75 24H19.25C21.869 24 24 21.869 24 19.25V4.75C24 2.131 21.869 0 19.25 0H4.75C2.131 0 0 2.131 0 4.75V19.25C0 21.869 2.131 24 4.75 24ZM1.5 4.75C1.5 2.958 2.958 1.5 4.75 1.5H19.25C21.042 1.5 22.5 2.958 22.5 4.75V19.25C22.5 21.042 21.042 22.5 19.25 22.5H4.75C2.958 22.5 1.5 21.042 1.5 19.25V4.75Z" fill="#3F3F3F"/>
							<path d="M12.0001 18.13C15.3801 18.13 18.1301 15.38 18.1301 12C18.1301 8.62001 15.3801 5.87001 12.0001 5.87001C8.62012 5.87001 5.87012 8.62001 5.87012 12C5.87012 15.38 8.62012 18.13 12.0001 18.13ZM12.0001 7.37001C14.5531 7.37001 16.6301 9.44701 16.6301 12C16.6301 14.553 14.5531 16.63 12.0001 16.63C9.44712 16.63 7.37012 14.553 7.37012 12C7.37012 9.44701 9.44712 7.37001 12.0001 7.37001Z" fill="#3F3F3F"/>
							<path d="M18.3579 7.36201C19.3439 7.36201 20.0869 6.62201 20.0869 5.64101C20.0869 4.61801 19.3049 3.92001 18.3589 3.92001C17.3729 3.92001 16.6299 4.66001 16.6299 5.64101C16.6299 6.66201 17.4079 7.36201 18.3579 7.36201ZM18.5349 5.47601C18.8509 5.75501 18.1299 6.09401 18.1299 5.64201C18.1299 5.37201 18.4969 5.44201 18.5349 5.47601Z" fill="#3F3F3F"/>
						</svg>
				</li>
			</ul>
		</div>
	</div>
	include components/service-area.pug
	include components/banner-area.pug
	<div class="testmonial_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<div class="section_title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".0.2s">
						div(class="line-title")
							<span>отзывы</span>
							<h2 class="title-2">Самой лучшей наградой для нас, являются ваши хорошие отзывы</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="testmonial_wrap" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".0.4s">
						<div class="testmonial_active owl-carousel">
							- for (var i = 0; i < 4; i++)
								<div class="single_testmonial">
									div(class="quote")
										<svg width="56" height="44" viewBox="0 0 56 44" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path class="quote-first-1" d="M7 10.5L13 2.5L14.5 1.5L18.5 2.5L21 6L20 9.5L19 12L17.5 16L16 20.5L18 21.5L22 24.5L25 28V33L23 38L18.5 42L13.5 42.5L6 40.5L1.5 33.5L3 22L7 10.5Z" fill="white"/>
											<path class="quote-first-2" d="M39 4.5L43.5 2H46L48 3L50 5.5L49.5 9.5L47.5 13.5L45.5 17.5L44.5 20.5L48.5 23L52.5 25.5L54 32.5L53 36L50.5 39.5L46 42L40.5 42.5L36 40.5L31.5 36.5L31 29L33.5 16.5L35 13.5L37 8.5L39 4.5Z" fill="white"/>
											<path class="quote-second" d="M20.7842 8.0801L19.793 7.94794L19.7897 7.97243L19.7877 7.99705L20.7842 8.0801ZM20.0642 11.2481L20.978 11.6542L20.9857 11.637L20.9927 11.6195L20.0642 11.2481ZM18.6242 13.9841L17.7667 13.4696L17.7581 13.4839L17.75 13.4984L18.6242 13.9841ZM17.1842 17.0081L18.0946 17.4219L18.1012 17.4074L18.1073 17.3927L17.1842 17.0081ZM16.0322 20.8961L15.0493 20.7118L14.8685 21.6765L15.8296 21.8754L16.0322 20.8961ZM22.8002 24.7841L22.0409 25.4349L22.8002 24.7841ZM24.3842 36.0161L23.4898 35.5689L23.4766 35.5952L23.4651 35.6222L24.3842 36.0161ZM21.7922 39.6161L22.4649 40.356L22.4679 40.3533L21.7922 39.6161ZM4.94424 39.6161L5.60487 38.8654L4.94424 39.6161ZM2.35224 22.9121L1.37738 22.6893L1.37434 22.7026L1.37166 22.716L2.35224 22.9121ZM9.69624 5.05609L10.5004 5.65049L10.5064 5.64236L10.5122 5.63411L9.69624 5.05609ZM16.8962 1.88809L16.6537 2.85824L16.7123 2.87288L16.7722 2.88037L16.8962 1.88809ZM18.9122 2.7521L18.272 3.52032L18.3006 3.54417L18.331 3.56583L18.9122 2.7521ZM20.4962 4.7681L19.5824 5.17424L19.5916 5.195L19.6018 5.21531L20.4962 4.7681ZM49.7282 8.0801L48.737 7.94794L48.7337 7.97243L48.7317 7.99705L49.7282 8.0801ZM49.0082 11.2481L49.922 11.6542L49.9297 11.637L49.9367 11.6195L49.0082 11.2481ZM47.5682 13.9841L46.7107 13.4696L46.7021 13.4839L46.694 13.4984L47.5682 13.9841ZM46.1282 17.0081L47.0386 17.4219L47.0452 17.4074L47.0513 17.3927L46.1282 17.0081ZM44.9762 20.8961L43.9933 20.7118L43.8124 21.6765L44.7736 21.8754L44.9762 20.8961ZM51.7442 24.7841L50.9849 25.4349L51.7442 24.7841ZM53.3282 36.0161L52.4338 35.5689L52.4206 35.5952L52.4091 35.6222L53.3282 36.0161ZM50.7362 39.6161L51.4089 40.356L51.4119 40.3533L50.7362 39.6161ZM46.9922 41.9201L47.3636 42.8486L46.9922 41.9201ZM33.8882 39.6161L34.5488 38.8654L33.8882 39.6161ZM31.2962 22.9121L30.3213 22.6893L30.3183 22.7026L30.3156 22.716L31.2962 22.9121ZM34.3202 13.1201L33.3898 12.7536L34.3202 13.1201ZM38.6402 5.05609L39.4444 5.65049L39.4504 5.64236L39.4562 5.63411L38.6402 5.05609ZM45.8402 1.88809L45.5977 2.85824L45.6563 2.87288L45.7162 2.88037L45.8402 1.88809ZM47.8562 2.7521L47.216 3.52032L47.2446 3.54417L47.275 3.56583L47.8562 2.7521ZM49.4402 4.7681L48.5264 5.17424L48.5356 5.195L48.5458 5.21531L49.4402 4.7681ZM19.7877 7.99705C19.6989 9.06162 19.4788 10.0191 19.1357 10.8767L20.9927 11.6195C21.4176 10.5571 21.6775 9.40258 21.7807 8.16314L19.7877 7.99705ZM19.1504 10.842C18.7856 11.6627 18.3254 12.5384 17.7667 13.4696L19.4817 14.4986C20.075 13.5098 20.5748 12.5615 20.978 11.6542L19.1504 10.842ZM17.75 13.4984C17.2479 14.4024 16.752 15.4454 16.2611 16.6235L18.1073 17.3927C18.5764 16.2668 19.0405 15.2938 19.4984 14.4697L17.75 13.4984ZM16.2738 16.5943C15.7513 17.7439 15.3474 19.1221 15.0493 20.7118L17.0151 21.0804C17.293 19.5981 17.6571 18.3843 18.0946 17.4219L16.2738 16.5943ZM15.8296 21.8754C18.4132 22.4099 20.4675 23.5992 22.0409 25.4349L23.5595 24.1333C21.6769 21.937 19.2192 20.5343 16.2348 19.9168L15.8296 21.8754ZM22.0409 25.4349C23.6177 27.2745 24.3922 29.3491 24.3922 31.6961H26.3922C26.3922 28.8591 25.4387 26.3257 23.5595 24.1333L22.0409 25.4349ZM24.3922 31.6961C24.3922 33.0804 24.0908 34.3669 23.4898 35.5689L25.2786 36.4633C26.0216 34.9773 26.3922 33.3838 26.3922 31.6961H24.3922ZM23.4651 35.6222C22.9487 36.827 22.1712 37.9121 21.1165 38.8789L22.4679 40.3533C23.7172 39.2081 24.6677 37.8932 25.3033 36.41L23.4651 35.6222ZM21.1195 38.8762C20.1593 39.7491 19.0156 40.4561 17.6768 40.9916L18.4196 42.8486C19.9608 42.2321 21.3131 41.4031 22.4649 40.356L21.1195 38.8762ZM17.6768 40.9916C16.3677 41.5153 14.9115 41.7841 13.2962 41.7841V43.7841C15.1369 43.7841 16.8487 43.4769 18.4196 42.8486L17.6768 40.9916ZM13.2962 41.7841C10.3738 41.7841 7.82414 40.8183 5.60487 38.8654L4.28361 40.3668C6.86434 42.6379 9.8826 43.7841 13.2962 43.7841V41.7841ZM5.60487 38.8654C3.44604 36.9656 2.34424 34.4204 2.34424 31.1201H0.344238C0.344238 34.9238 1.64245 38.0426 4.28361 40.3668L5.60487 38.8654ZM2.34424 31.1201C2.34424 29.1017 2.66683 26.4382 3.33282 23.1082L1.37166 22.716C0.693649 26.106 0.344238 28.9145 0.344238 31.1201H2.34424ZM3.3271 23.1349C4.08405 19.8233 5.07728 16.6073 6.30665 13.4866L4.44583 12.7536C3.1792 15.9689 2.15643 19.2809 1.37738 22.6893L3.3271 23.1349ZM6.30665 13.4866C7.53 10.3812 8.9309 7.77395 10.5004 5.65049L8.89206 4.4617C7.19758 6.75424 5.71848 9.523 4.44583 12.7536L6.30665 13.4866ZM10.5122 5.63411C12.0629 3.44489 13.5287 2.6001 14.8802 2.6001V0.600098C12.5837 0.600098 10.5935 2.0593 8.88022 4.47808L10.5122 5.63411ZM14.8802 2.6001C15.3504 2.6001 15.9377 2.67925 16.6537 2.85824L17.1387 0.917951C16.3187 0.712945 15.562 0.600098 14.8802 0.600098V2.6001ZM16.7722 2.88037C17.3567 2.95343 17.848 3.16697 18.272 3.52032L19.5524 1.98388C18.8244 1.37722 17.9717 1.01475 17.0202 0.895816L16.7722 2.88037ZM18.331 3.56583C18.8377 3.92779 19.2602 4.44931 19.5824 5.17424L21.41 4.36196C20.9642 3.35889 20.3307 2.53641 19.4934 1.93837L18.331 3.56583ZM19.6018 5.21531C19.8534 5.71861 19.9749 6.58357 19.793 7.94794L21.7754 8.21226C21.9775 6.69662 21.907 5.35358 21.3906 4.32088L19.6018 5.21531ZM48.7317 7.99705C48.6429 9.06161 48.4228 10.0191 48.0797 10.8767L49.9367 11.6195C50.3616 10.5571 50.6215 9.40258 50.7247 8.16315L48.7317 7.99705ZM48.0944 10.842C47.7296 11.6627 47.2694 12.5384 46.7107 13.4696L48.4257 14.4986C49.019 13.5098 49.5188 12.5615 49.922 11.6542L48.0944 10.842ZM46.694 13.4984C46.1919 14.4024 45.696 15.4454 45.2051 16.6235L47.0513 17.3927C47.5204 16.2668 47.9845 15.2938 48.4424 14.4697L46.694 13.4984ZM45.2178 16.5943C44.6953 17.7439 44.2914 19.1221 43.9933 20.7118L45.9591 21.0804C46.237 19.5981 46.6011 18.3843 47.0386 17.4219L45.2178 16.5943ZM44.7736 21.8754C47.3572 22.4099 49.4115 23.5992 50.9849 25.4349L52.5035 24.1333C50.6209 21.937 48.1632 20.5343 45.1788 19.9168L44.7736 21.8754ZM50.9849 25.4349C52.5617 27.2745 53.3362 29.3491 53.3362 31.6961H55.3362C55.3362 28.8591 54.3827 26.3257 52.5035 24.1333L50.9849 25.4349ZM53.3362 31.6961C53.3362 33.0804 53.0348 34.3669 52.4338 35.5689L54.2226 36.4633C54.9656 34.9773 55.3362 33.3838 55.3362 31.6961H53.3362ZM52.4091 35.6222C51.8927 36.827 51.1152 37.9121 50.0605 38.8789L51.4119 40.3533C52.6612 39.2081 53.6117 37.8932 54.2473 36.41L52.4091 35.6222ZM50.0635 38.8762C49.1033 39.7491 47.9596 40.4561 46.6208 40.9916L47.3636 42.8486C48.9048 42.2321 50.2571 41.4031 51.4089 40.356L50.0635 38.8762ZM46.6208 40.9916C45.3117 41.5153 43.8555 41.7841 42.2402 41.7841V43.7841C44.0809 43.7841 45.7927 43.4769 47.3636 42.8486L46.6208 40.9916ZM42.2402 41.7841C39.3178 41.7841 36.7681 40.8183 34.5488 38.8654L33.2276 40.3668C35.8083 42.6379 38.8266 43.7841 42.2402 43.7841V41.7841ZM34.5488 38.8654C32.39 36.9656 31.2882 34.4204 31.2882 31.1201H29.2882C29.2882 34.9238 30.5864 38.0426 33.2276 40.3668L34.5488 38.8654ZM31.2882 31.1201C31.2882 29.1017 31.6108 26.4382 32.2768 23.1082L30.3156 22.716C29.6376 26.106 29.2882 28.9145 29.2882 31.1201H31.2882ZM32.2711 23.1349C33.028 19.8233 34.0212 16.6073 35.2506 13.4866L33.3898 12.7536C32.1232 15.9689 31.1004 19.2809 30.3213 22.6893L32.2711 23.1349ZM35.2506 13.4866C36.474 10.3812 37.8749 7.77395 39.4444 5.65049L37.836 4.4617C36.1415 6.75424 34.6624 9.523 33.3898 12.7536L35.2506 13.4866ZM39.4562 5.63411C41.0069 3.44489 42.4727 2.6001 43.8242 2.6001V0.600098C41.5277 0.600098 39.5375 2.0593 37.8242 4.47808L39.4562 5.63411ZM43.8242 2.6001C44.2944 2.6001 44.8817 2.67925 45.5977 2.85824L46.0827 0.917951C45.2627 0.712945 44.506 0.600098 43.8242 0.600098V2.6001ZM45.7162 2.88037C46.3007 2.95343 46.792 3.16697 47.216 3.52032L48.4964 1.98388C47.7684 1.37722 46.9157 1.01475 45.9642 0.895816L45.7162 2.88037ZM47.275 3.56583C47.7817 3.92779 48.2042 4.44931 48.5264 5.17424L50.354 4.36196C49.9082 3.35889 49.2747 2.53641 48.4374 1.93837L47.275 3.56583ZM48.5458 5.21531C48.7974 5.71861 48.9189 6.58357 48.737 7.94794L50.7194 8.21226C50.9215 6.69662 50.851 5.35358 50.3346 4.32088L48.5458 5.21531Z" fill="#01A0E2"/>
										</svg>
									<p>Замечательные доктора, все обяъснили, направили на анализы, успокоили и в результате все хорошо.Замечательные доктора, все обяъснили, направили на анализы, успокоили и в результате все хорошо.Замечательные доктора, все обяъснили, направили на анализы, успокоили и в результате все хорошо.</p>
									<div class="testimonial_author">
										<span>Маргарита</span>
										<a href="#">ссылка на отзыв</a>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	include components/news-area.pug
