extends baseInner.pug
block content
	section(class="content-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="section_title")
						h1(class="title-2 title-2_inner")
							| Заголовок страницы
						img(class="lazyload w-100" data-src="images/banner.png" alt="img")
						p
							| Очень значимый раздел работы врача педиатра – оформление медицинской документации. При необходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или детский сад Вам приходиться представлять те или иные документы, подтверждающие факт здоровья Вашего ребенка, возможность начать или продолжить занятия в том или ином учреждении.
						ul
							li
								|  раздел работы врача педиатра – 
							li
								| оформление медицинской документации. При нео
							li
								| бходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или д
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						ol
							li
								|  раздел работы врача педиатра – 
							li
								| оформление медицинской документации. При нео
							li
								| бходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или д
						h2
							| title 2
