extends baseInner.pug
block content
	section(class="service-inner")
		<div class="service_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section_title">
							h2(class="title-2 title-2_inner")
								| Оформление всех видов справок
						</div>
					</div>
				</div>
				div(class="row")
					div(class="col-12 col-lg-6 pb-5")
						div(class="row pb-4")
							div(class="col-12 col-lg-6")
								ul
									li
										| для посещения спортивных секций и кружков
									li
										| для детского садика
									li
										| для танцевальной школы
							div(class="col-12 col-lg-6")
								ul
									li
										| для бассейна
									li
										| для школы
									li
										| для путевки на санаторно курортное лечение
						div(class="line")
						div(class="row  pt-4")
							div(class="col-12 col-lg-6")
								span(class="price-first")
									| 450 рублей
							div(class="col-12 col-lg-6")
								span(class="price-second")
									| от 600 рублей на дом
							div(class="col-12 pt-5 mt-4")
								a(class="btn btn_rare" href="#")
									| записаться
					div(class="col-12 col-lg-6")
						img(class="lazyload img-fluid w-100" data-src="images/service-inner.png" alt="img")
			</div>
		</div>
	<div class="hire_area paralax_bg m-0" >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10">
					<div class="section_title text-center">
						<span>консультация</span>
						<h2 class="title-2">Нужна консультация специалиста? просто оставьте ваш номер телефона</h2>
						<div class="hire_btn ">
							<a  class="btn" href="#">оставить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	section(class="info-block")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| Все виды справок
					p
						| Очень значимый раздел работы врача педиатра – оформление медицинской документации. При необходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или детский сад Вам приходиться представлять те или иные документы, подтверждающие факт здоровья Вашего ребенка, возможность начать или продолжить занятия в том или ином учреждении.
					p
						| В нашем центре вы можете оформить следующие виды справок: справка в детский сад и школу ,справка в бассейн, справка в спортивную или танцевальную секцию, справка для получения путевки на санаторно-курортное лечение.
					p
						| Так же вы можете в нашем центре оформить медицинский карты для поступления с ДДУ и школу ,прививочные сертификаты.
					p
						| ВНИМАНИЕ!!Возможно потребуются дополнительные исследования!
