/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";

@import "template/owl.carousel.min.css";
@import "template/magnific-popup.css";
@import "template/font-awesome.min.css";
@import "template/animate.min.css";
@import "template/themify-icons.css";
@import "template/slicknav.css";
@import "template/style.css";

@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";

@import "mixin/_mixin";
@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "news/_news";
@import "footer/_footer";
@import "service/_service";
@import "about/_about";
@import "modalWindow/_modal";



.banner_area {
	background-color: #fff;
	padding: 0px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1, .h1 {
		padding-bottom: 50px;
		margin: 0px;
		max-width: 600px;
		@include lg {
			padding-bottom: 100px;
		}
	}
	.banner_inner {
		width: 100%;
		.banner_text .video_play {
			a {
				cursor: pointer;
				width: 80px;
				height: 80px;
				color: #fff;
				background: $colorRare;
				border: 1px solid $colorRare;
				padding: 5px 0 0 5px;

				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					path {
						width: 50px;
					}
				}
				&:hover {
					background: #fff;
					svg {
						path {
							fill: $colorRare;
						}
					}
				}
			}
			span {
				max-width: 220px;
				margin: 0px;
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 21px;
				text-transform: none;

				color: #333333;
			}
		}
	}
	.description {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 28px;
		color: #333333;
		max-width: 420px;

		margin-bottom: 45px;
	}
	.person_thumb {
		z-index: -1;
	}
	.quick_social_links {
		position: unset;
		transform: unset;
		@include lg {
			position: absolute;
			transform: translateY(-50%);
		}
	}

}

.section_title {
	span {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: $colorMain;
		padding-bottom: 34px;
		margin: 0px;
	}
	&:before,
	&:after {
		display: none;
	}
}
.line-title {
	position: relative;
	&:before {
		position: absolute;
		height: 50px;
		content: '';
		width: 1px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background: #E5E5E5;
		top: -80px;
		z-index: 8;
		display: none;
		@include lg {
			display: block;
		}
	}
	&:after {
		position: absolute;
		height: 50px;
		content: '';
		width: 1px;
		bottom: -80px;
		left: 50%;
		transform: translateX(-50%);
		background: #E5E5E5;
		z-index: 8;
		display: none;
		@include lg {
			display: block;
		}
	}
}





.hire_area {
	background-image: url('../images/banner.png');

	padding: 50px 0px;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	@include lg {
		padding: 0px;
		height: 613px;
		margin-bottom: 180px;
	}
}

.testmonial_area {
	padding: 0px 0px 50px 0px;
	background-image: unset;
	.section_title {
		padding-bottom: 50px;
		@include lg {
			padding-bottom: 200px;
		}
	}
	.single_testmonial {
		background: rgba(255, 255, 255,0.2);
		border: 1px solid #E5E5E5;
		padding: 50px 20px 80px 20px;
		margin-bottom: 45px;
		.quote {
			margin-bottom: 40px;
			svg {
				.quote-first-1, .quote-first-2 {
					fill: #fff;
				}
				.quote-second {
					fill: $colorMain;
				}
			}
		}
		p {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			margin-bottom: 60px;
		}
		.testimonial_author {
			display: flex;
			flex-direction: column;
			align-items: center;
			span {
				font-family: Blogger Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
				color: #000;
				margin-bottom: 14px;
				display: block;

				padding-left: 50px;
				position: relative;
				margin-bottom: 10px;
				-webkit-transition: .5s;
				-moz-transition: .5s;
				-o-transition: .5s;
				transition: .5s;
				&::before {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background: #000;
					height: 2px;
					width: 30px;
					content: '';
					-webkit-transition: .5s;
					-moz-transition: .5s;
					-o-transition: .5s;
					transition: .5s;
				}
			}
			a {
				font-family: Gilroy;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 14px;
				color: #8F8F8F;
				margin-left: 50px;
			}
		}
		&:hover {
			background: $colorMain;
			.quote {
				svg {
					path {
						fill: #fff;
					}
				}

			}
			.testimonial_author {
				span {
					color: #fff;
					&:before {
						background: #fff;
					}
				}
				a {
					color: #fff;
				}
			}
		}
	}
	.center {
		.single_testmonial {
			background: $colorMain;
			.quote {
				svg {
					path {
						fill: #fff;
					}
				}

			}
			.testimonial_author {
				span {
					color: #fff;
					&:before {
						background: #fff;
					}
				}
				a {
					color: #fff;
				}
			}
		}
	}
	.owl-dots {

		.owl-dot {
			background: transparentize($colorMain, 0.4);
			&.active {
				background: $colorMain;
			}
		}
	}
	@include lg {
		background-image: url('../images/testmonial.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		padding-bottom: 130px;
	}
}


.info-block {
	padding-top: 50px;
	padding-bottom: 25px;
	h2 {
		font-family: Blogger Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 26px;
		color: #E4097F;
		margin-bottom: 29px;
	}
}


.content-page {
	padding: 100px 0px 50px 0px;
	.section_title {
		padding-bottom: 50px;
		@include lg {
			padding-bottom: 135px;
		}
	}
	@include lg {
		padding: 200px 0px 120px 0px;
	}
	img {
		margin-bottom: 15px;
	}
	h1,h2,h3,h4 {
		margin-bottom: 25px;
	}
	p {
		margin-bottom: 15px;
	}
}
