.header-area .main-header-area {
	padding: 10px 0px;
	@include xl {
		padding: 59px 101px 32px 83px;
	}
}
.offcanvas_menu {
	ul {
		padding: 0px;
		li {
			list-style: none;
		}
	}
	.logo {
		max-width: 200px;
		img {
			width: 100%;
		}
	}
	.close_menu {
		max-width: 50px;
		img {
			width: 100%;
		}
	}
}
.main-header-area {
	&.main-header-area-border{
		border-bottom: 1px solid #E5E5E5;
	}

	.logo {
		width: unset;
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	.link-menu {
		font-family: "Gilroy";
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;

		margin-right: 30px;

		&:hover {
			text-decoration: none;
			color: $colorRare;
			transition: $mainTransition;
		}
		&:last-child {
			margin: 0px;
		}
		@media (min-width: 991px) and (max-width: 1400px) {
			margin-right: 15px;
		}
	}
	.menu_icon {
		position: unset!important;
	}
}
.social-block {
	padding-right: 40px;
	.social-block__item {
		margin-right: 33px;
		svg {
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			text-decoration: none;
			svg {
				path {
					fill: $colorRare;
					transition: $mainTransition;
				}
			}
		}
		&:last-child {
			margin: 0px;
		}
		@media (min-width: 991px) and (max-width: 1400px) {
			margin-right: 10px;
		}
	}

	@include xl {
		padding-right: 83px;
	}
	@media (min-width: 991px) and (max-width: 1400px) {
		padding-right: 20px;
	}
}


.link {
	font-family: "Gilroy";
	display: flex;
	align-items: center;

	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #01A0E2;
	&.link_phone {
		svg {
			margin-right: 7px;
			path {
				fill: $colorMain;
				transition: $mainTransition;
			}
		}
		&:hover {
			text-decoration: none;
			color: $colorRare;
			transition: $mainTransition;
			svg {
				path {
					fill: $colorRare;
					transition: $mainTransition;
				}
			}
		}
	}
	&.link_email {
		color: #7D71B1;
		svg {
			margin-right: 7px;
			path {
				fill: #7D71B1;
				transition: $mainTransition;
			}
		}
		&:hover {
			text-decoration: none;
			color: $colorRare;
			transition: $mainTransition;
			svg {
				path {
					fill: $colorRare;
					transition: $mainTransition;
				}
			}
		}
	}
}
.time {
	font-family: "Gilroy";
	display: flex;
	align-items: center;

	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #EF7F1B;
	svg {
		margin-right: 7px;
	}
}
